* {
  font-size: 20px;
}

.MuiPaper-root {
  width: 100vw !important;
}

thead {
  background-color: aliceblue;
}

.MuiTableCell-head {
  font-weight: bold !important;
}

table {
  display: block;
  overflow-x: auto;
}

@media (max-width: 414px) {
  #fecha, #asignatario {
    display: none;
  }
}