.form {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botonera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em;
}

.formControl {
  width: 100%;
  font-size: 1.1em;
  color: rgb(76, 72, 76);
}