@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h1 {
  background: linear-gradient(-20deg, #32937c, #23d5ab);
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
  padding: 1rem;
  margin: 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
  width: 40rem;
}

